@tailwind base;
@tailwind components;
@tailwind utilities;

.print-sheet {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-sheet,
  .print-sheet * {
    visibility: visible;
  }
  .print-sheet {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
